@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: rgb(234, 234, 210);
    position: relative;
}

header#firstComment {
    background-color: rgb(223, 161, 223);
    padding: 16px;
    top: 0;
    position: sticky;
    left: 0;
    right: 0;
    translate: translateX(-50%);

}

.profileImagePlaceHolder {
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    display: inline;
}

#editPostedCommentButton, #deletePostedCommentButton, #submitEditedCommentButton, #newInputBox {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

main {
    background-color: rgb(240, 240, 234);
    margin: 16px;
    padding: 16px;
    border-radius: 4px;
}

form#entryBox {
    background-color: rgb(250, 247, 252);
    padding: 16px;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    translate:  translateX(-50%);
}

.input-color-change {
    border: 2px solid rgb(234, 234, 210);
    border-radius: 4px;
    box-shadow: none;
}
.input-color-change:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid rgb(188, 188, 62);
    border-radius: 4px;
}

#displayNameInput, #commentInput, #newInputBox {
    margin: 0 0 16px 0;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    width:300px;
}

#editPostedCommentButton, #deletePostedCommentButton, #submitButton, #submitEditedCommentButton {
    /* border-radius: 8px; */
    /* border: solid 2px rgb(188, 188, 62); */
    border: none;
    padding: 8px 12px;
    margin: 8px 0 8px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    /* background-color: rgb(234, 234, 210);
    transition: background-color .5s ease-in-out; */
}

#submitEditedCommentButton {
    margin: 0 0 0 16px;
}

#editPostedCommentButton:hover, #deletePostedCommentButton:hover, #submitButton:hover, #submitEditedCommentButton:hover {
    background-color:rgb(243, 243, 148);

}

.hide {
    display: none;
}
