html {
    width: 100%;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(243, 243, 187);
    position: relative;
}

header#firstComment {
    background-color: rgb(223, 161, 223);
    padding: 16px;
    top: 0;
    position: sticky;
    left: 0;
    right: 0;
    translate: translateX(-50%);

}

.profileImagePlaceHolder {
    font-size: 14px;
    background-color: red;
    display: inline;
}

main {
    background-color: rgb(243, 243, 187);
    margin: 16px;
    padding: 16px;
    border-radius: 4px;
}

form#entryBox {
    background-color: rgb(223, 161, 223);
    padding: 16px;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    translate:  translateX(-50%);
}

