html {
    width: 100%;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: whitesmoke;
    position: relative;
    padding-top: 175px;
    padding-bottom: 100px;
}

header#firstComment {
    background-color: green;
    margin: 0 0 8px 0;
    padding: 16px;
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    translate: translateX(-50%);
    

}

main {
    background-color: orange;
    margin: 16px;
    padding: 16px;
    border-radius: 4px;
}

footer#entryBox {
    background-color: red;
    padding: 16px;
    position: fixed;
    bottom: 0;
    left: 0;
    translate:  translateX(-50%);
    width: 100%;
}

